<div class="credit-card">
  <img
    class="image visa"
    *ngIf="isVisa"
    src="http://pngimg.com/uploads/visa/visa_PNG36.png"
    alt="Visa logo"
  />
  <img
    class="image mastercard"
    *ngIf="!isVisa"
    src="http://pngimg.com/uploads/mastercard/mastercard_PNG9.png"
    alt="MasterCard logo"
  />

  <div class="card-details">
    <div class="card-number">{{ cardNumber }}</div>
    <div class="name">{{ name }}</div>
    <div class="expiration-date">{{ expirationDate }}</div>
  </div>
</div>
