@import "../../../../styles/styles.less";

.product-card {
  width: @product-card-width;
  height: 40rem;
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 5px rgba(#000, 0.18);
  color: @dark-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  .product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    height: 4rem;
    padding: 0 1rem;
  }

  .product-description {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 1.4rem;
    margin: 1rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
}
