<div class="my-products">
  <div class="header">
    <div class="headline">My Products</div>
    <div class="sub-headline">
      <div>
        {{ getGreetingSentence() + " " + loggedInUser?.firstName }}!
        <span *ngIf="userProducts?.length > 0">
          You have {{ userProducts.length }} products. </span
        ><br />
        <span *ngIf="userProducts?.length === 0">
          It looks like you don't have products yet.
          <br />
          Start lease your own products now!
        </span>
        <span>
          By now you've earned: &nbsp;
          <ile-price
            [price]="totalEarnings$ | async"
            [isTotalAmount]="true"
          ></ile-price>
        </span>
      </div>
      <ile-button
        [text]="'Add new product'"
        (clicked)="openNewProductDialog()"
      ></ile-button>
    </div>
  </div>

  <ile-products-table
    [products]="userProducts"
    (editProductEvent)="openEditProductDialog($event)"
    (deleteProductEvent)="deleteProduct($event)"
  ></ile-products-table>
</div>
