@import "../../../../../../styles/styles.less";

.open-requests {
  background-color: @text-color;

  overflow-y: auto;

  .header {
    padding: 2rem 3rem;
  }

  .headline {
    margin-bottom: 1rem;
  }

  .requests {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 7rem - 9.5rem);

    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(49rem, 1fr));
      place-content: center;
      padding-bottom: 2rem;

      & > ile-lease-product-display {
        padding: 1rem 0 2rem 3.5rem;
      }
    }
  }
}
