.open-requests {
  overflow-y: auto;

  .header {
    padding: 2rem 3rem;
  }

  .requests {
    margin: 0 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: calc(100vh - 7rem - 9.5rem);

    & > ile-lease-product-display {
      padding: 0 0 3rem 3rem;
    }
  }
}
