@import "../../../../../../styles/styles.less";
@import "https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";

.ongoing-deliveries {
  background-color: var(--text-color);
  width: calc(100vw - @sidebar-width);
  height: calc(100vh - @header-height);
  overflow-y: auto;
  transition: all 0.2s;

  .headline {
    margin-bottom: 1rem;
  }

  .header {
    padding: 2rem 3rem;
  }
}
