@import "../../../../../styles/styles.less";

.product-card {
  width: 100%;
  height: calc(100vh - @header-height);
  overflow-y: auto;
  padding: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  ile-product-view {
    width: 65%;
  }

  ile-images-slider {
    margin-bottom: 0.6rem;
  }

  & > * {
    margin-bottom: 3rem;
  }

  .lend-button,
  .wishlist-button {
    margin-bottom: 2rem;
  }

  .ratings {
    fieldset,
    label {
      margin: 0;
      padding: 0;
    }

    /****** Style Star Rating Widget *****/

    .rating {
      border: none;
      float: left;
      position: relative;
    }

    .rating > input {
      display: none;
    }
    .rating > label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }

    .rating > .half:before {
      content: "\f089";
      position: absolute;
    }

    .rating > label {
      color: #ddd;
      float: right;
      cursor: pointer;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
      color: #ffd700;
    } /* hover previous stars in list */

    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label {
      color: #ffed85;
    }
  }

  .comments-container {
    width: 55rem;

    .comments {
      min-height: 13rem;
      overflow-y: auto;
      margin-bottom: 0.5rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 5rem;
      color: @dark-text-color;

      .comment {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 4rem;
        margin-bottom: 1.5rem;
        border: 1px solid @dark-text-color;
        border-radius: 1rem;
        font-size: 1.7rem;
        width: 45rem;

        position: relative;

        &__header {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;
          margin-top: 0.5rem;
        }

        ile-user-name-circle {
          position: absolute;
          left: -2rem;
        }

        .comment-author {
          font-size: 1.9rem;
          font-weight: 800;
        }

        .comment-content {
          font-size: 1.5rem;
        }

        .comment-date {
          font-size: 1.4rem;
          font-weight: 300;
          color: #bfbfbf;
          font-family: "Open Sans", serif;
        }
      }

      .no-comments {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .new-comment {
      display: flex;
      flex-direction: column;
      align-items: center;

      mat-form-field {
        width: 85%;
      }
    }
  }
}
