<div class="product-card">
  <ile-images-slider [images]="product?.pictureLinks" [imageHeight]="200" [imageWidth]="'75rem'"></ile-images-slider>
  <div class="product-header">
    <div style="display: flex; align-items: center;">
      <span class="product-name">{{ product?.name }}</span>
      <span class="product-rating" *ngIf="product?.rating">{{product?.rating | number: '1.0-2'}}</span>
    </div>
    <span class="product-price">${{ product?.requestedPrice }}</span>
  </div>
  <!--  TODO: Add router link to the user profile-->
  <div class="owner-label">Lend from <a>{{product?.owner.firstName + ' ' + product?.owner.lastName}}</a></div>
  <p class="product-description text-ellipsis">{{ product?.description || 'The owner didn\'t add any description' }}</p>
  <ile-button [text]="'Lend now'" class="lend-button" matTooltip="{{!loggedInUser ? 'Login to continue' : ''}}"
              [matTooltipPosition]="'above'" [disabled]="!loggedInUser"></ile-button>
  <ile-button [text]="'Add to Wishlist'" *ngIf="!isProductInWishlist" class="wishlist-button"
              matTooltip="{{!loggedInUser ? 'Login to continue' : isLoggedInUserProduct ? 'Can\'t add your own product to wishlist' : ''}}"
              [matTooltipPosition]="'above'" [disabled]="!loggedInUser || isLoggedInUserProduct"
              (clicked)="addProductToWishlist()"></ile-button>
  <ile-button [text]="'Remove from Wishlist'" *ngIf="isProductInWishlist" class="wishlist-button"
              (clicked)="removeProductFromWishlist()"></ile-button>
  <div class="ratings" *ngIf="product?.owner.id !== loggedInUser?.id">
    <fieldset class="rating" [ngStyle]="{'pointer-events': isRated ? 'none' : 'auto'}">
      <input *ngFor="let value of [5, 4.5, 4, 3.5, 3, 2.5, 2, 1.5, 1, 0.5]" type="radio" name="rating" id="star-{{value}}" (input)="updateProductRating(value)" />
      <label *ngFor="let value of [5, 4.5, 4, 3.5, 3, 2.5, 2, 1.5, 1, 0.5]; let i = index" for="star-{{value}}" [ngClass]="{'full': i % 2 === 0, 'half': i % 2 !== 0}"></label>
    </fieldset>
  </div>
  <div class="comments-container">
    <div class="comments">
      <div class="comment" *ngFor="let comment of product?.comments">
        <span class="comment-author">{{comment.user.firstName + ' ' + comment.user.lastName + ':'}}</span>
        <span class="comment-content">{{comment.comment}}</span>
        <span class="comment-date">{{comment.date | date: 'dd/MM/yy HH:mm'}}</span>
      </div>
      <div class="no-comments" *ngIf="product?.comments.length === 0">
        <span>This product doesn't have comments yet.</span>
        <span>Be the first one to comment!</span>
      </div>
    </div>
    <div class="new-comment" *ngIf="loggedInUser">
      <mat-form-field>
        <mat-label>New comment</mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2"
        [(ngModel)]="comment"></textarea>
      </mat-form-field>
      <ile-button [text]="'Post comment'" (clicked)="postNewComment()" [disabled]="!comment || comment === ''"></ile-button>
    </div>
  </div>
</div>
