<div class="checkout">
  <ile-header></ile-header>

  <div class="not-exists" *ngIf="noProduct">
    <div class="headline">Oops...</div>
    <div class="sub-headline">
      We're very sorry but the product is not found.<br />
      It maybe removed or you may hit a wrong URL, you can go back to the home
      page
      <a class="link" routerLink="/home" routerLinkActive="active">here</a>.
    </div>
  </div>

  <ile-payment
    *ngIf="token && !noProduct"
    [token]="token"
    [result]="checkoutResult"
    (onCheckoutCompleted)="openLeaseRequest($event)"
    (returnDateChanged)="returnDateUpdated($event)"
  ></ile-payment>

  <div class="product-view-container" *ngIf="!noProduct">
    <ile-product-view
      [hidden]="!product"
      [product]="product"
      [width]="'40rem'"
    ></ile-product-view>
    <div class="prices" *ngIf="returnDate">
      <ile-suggested-price
        [text]="'The total price is'"
        [suggestedPrice]="calculateTotalPrice().toFixed(2)"
      ></ile-suggested-price>
      <span class="sub-headline"
        >We take a fee of 10% from the total amount.<br />In this case we're
        taking ${{ (calculateTotalPrice() / 1.1 / 10).toFixed(2) }}</span
      >
    </div>
  </div>
</div>
