@import "../../../../../styles/styles.less";

.checkout {
  height: 100vh;
  background-color: var(--text-color);
  overflow: hidden;

  display: grid;
  grid-template-rows: @header-height auto;
  grid-template-columns: auto @chaeckout-payment-width;

  position: relative;

  ile-header {
    grid-column: 1 e("/") 3;
  }

  ile-payment {
    grid-column: 2 e("/") 3;
    align-self: center;
    overflow-y: auto;
  }

  ile-product-view {
    grid-column: 1 e("/") 2;
    grid-row: 2 e("/") 3;
    align-self: center;
    justify-self: end;
    width: 90%;
  }
}
