@import "../../../../../styles/styles.less";

.checkout {
  height: 100vh;
  background-color: @text-color;
  overflow: hidden;

  display: grid;
  grid-template-rows: @header-height auto;
  grid-template-columns: auto @chaeckout-payment-width;

  position: relative;

  ile-header {
    grid-column: 1 e("/") 3;
  }

  ile-payment {
    grid-column: 2 e("/") 3;
    align-self: center;
    overflow-y: auto;
  }
}
