.line {
  flex: 1;
  border-top-width: 0.2rem;
  border-top-style: solid;
  color: rgba(68, 34, 68, 0.34);
}

.account-page {
  margin-left: 4rem;
  margin-right: 50rem;
  width: 66%;

  &__title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }
}

.header {
  position: absolute;
  margin-top: 2rem;
  color: gray;
}

.user-details {
  float: right;
  width: 50%;
  margin-right: 5rem;
  font-weight: 500;

}

.detail {
  display: inline;
}

.account {
  display: inline-block;
  margin-bottom: 3rem;
}

.user-account {
  float: right;
  display: inline-flex;
  width: 75%;
  margin-top: 2rem;
}

.links {
  float: right;
  width: 40%;
  margin-top: 3.7rem;

  &__center {
    width: 52%;
    margin-top: 2rem;
    float: right;
  }
}

.account-section-link {
  display: inline-block;
  color: cornflowerblue;
}

.user-profile {
  display: inline-block;
  width: 50%;
}

.account-section {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  height: 11rem;
}
