.line {
  flex: 1;
  border-top-width: 0.2rem;
  border-top-style: solid;
  color: rgba(68, 34, 68, 0.34);
}

.account-page {
  margin-left: 4rem;
  margin-right: 50rem;
  width: 80%;

  &__title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }
}

.header {
  position: absolute;
  margin-top: 2rem;
  color: gray;
}

.user-details {
  float: right;
  width: 65%;
  // font-weight: 500;
  height: 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.detail {
  display: inline;
}

.account {
  display: grid;
  margin-bottom: 3rem;
  width: 100%;
}

.user-account {
  float: right;
  display: inline-flex;
  width: 80%;
  margin-top: 2rem;
}

.links {
  float: right;
  width: 40%;
  margin-top: 3.7rem;

  &__center {
    width: 60%;
    margin-top: 2rem;
    float: right;
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 0.5rem;
    }
  }
}

.account-section-link {
  display: inline-block;
  color: cornflowerblue;
  text-decoration: underline;
  cursor: pointer;
}

.user-profile {
  display: inline-block;
  width: 50%;
}

// .account-section {
//   margin-top: 1.5rem;
//   margin-bottom: 2rem;
//   height: 11rem;
// }
