@import "colors.less";
@import "variables.less";
@import "components.less";
@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 22px;
  height: 22px;
}

::-webkit-scrollbar-track {
  border: solid 8px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #e1e1e1;
  border: solid 8px transparent;
  border-radius: 14px;
}

::selection {
  background-color: var(--primary-color);
  color: var(--light-text-color);
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div {
  box-shadow: none !important;
}

.theme-light {
  --text-color: @text-color;
  --light-text-color: @text-color;
  --dark-text-color: @dark-text-color;
  --primary-color: @primary-color;
  --secondary-color: @secondary-color;
  --tertiary-color: @tertiary-color;
  --headline-color: @text-color;
  --currency-color: @currency-color;
  --price-color: @price-color;
  --diagram-stroke-color: darken(@text-color, 10%);
  --link-color: darken(@approve-color, 5%);
  --lease-product-display: darken(@text-color, 2%);
  --always-dark-text-color: @dark-text-color;
}

.theme-dark {
  --text-color: @text-color-dark;
  --light-text-color: @dark-text-color-dark;
  --dark-text-color: @dark-text-color-dark;
  --primary-color: @primary-color-dark;
  --secondary-color: @secondary-color-dark;
  --tertiary-color: @tertiary-color-dark;
  --headline-color: @dark-text-color-dark;
  --currency-color: @price-color;
  --price-color: @currency-color;
  --diagram-stroke-color: lighten(@text-color-dark, 10%);
  --link-color: lighten(@tertiary-color-dark, 10%);
  --lease-product-display: lighten(@text-color-dark, 2%);
  --always-dark-text-color: @dark-text-color;
}
