.product-card {
  width: 31rem;
  height: 31.3rem;
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 5px rgba(#000, 0.2);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  .images-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    ng-image-slider {
      width: 20rem;
    }

    .slider-arrow {
      cursor: pointer;
      font-size: 22px;
      transition: .5s ease-in-out;
      border-radius: 50%;
      text-align: center;
      height: 2.8rem;
      width: 2.8rem;
      line-height: 2.5rem;
    }

    .slider-arrow:hover {
      background-color: #d4cdcd;
    }
  }

  .product-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
  }

  .product-description {
    flex: 1;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}
