<div class="login-container">
  <span class="welcome">Welcome to ILend!</span>
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label class="dark">Email</mat-label>
      <input
        class="dark"
        matInput
        required
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="
          loginForm.get('email').hasError('email') &&
          !loginForm.get('email').hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label class="dark">Password</mat-label>
      <input
        class="dark"
        matInput
        required
        formControlName="password"
        [errorStateMatcher]="matcher"
        type="password"
      />
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="sign-up-tip">
      Don't have a user yet?
      <a class="link" routerLink="/home/sign-up">Sign Up</a> now!
    </div>

    <ile-button
      [text]="'Login'"
      [isLarge]="true"
      [type]="'submit'"
      [disabled]="loginForm.invalid"
      matTooltip="{{ loginForm.invalid ? 'Fill all the required fields' : '' }}"
      [matTooltipPosition]="'above'"
    ></ile-button>
  </form>

  <span class="login-error-message">{{ loginErrorMessage }}</span>
</div>
