@import "../../../../../styles/styles.less";

.login-container {
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  color: var(--dark-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  font-size: 2rem;

  transition: all 0.2s;

  .welcome {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    mat-form-field {
      width: 25%;
    }

    .sign-up-tip {
      padding: 0.7em;
      font-size: 1.8rem;
    }
  }

  .login-error-message {
    font-size: 1.4rem;
    color: red;
    margin-top: 0.8rem;
  }
}
