.header {
  padding: 2rem 3rem;

  .headline {
    margin-bottom: 1rem;
  }
}

.products-container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-evenly;
  height: calc(100vh - 13rem);
}
