<div class="product-view">
  <ile-images-slider
    [images]="product?.pictureLinks"
    [imageHeight]="300"
    [imageWidth]="width"
  ></ile-images-slider>
  <div class="product-view__data">
    <div style="display: flex; align-items: center;">
      <span class="product-name">{{ product?.name }}</span>
      <span class="product-rating" *ngIf="product?.rating">{{
        product?.rating | number: "1.0-2"
      }}</span>
    </div>
    <ile-price [isLarge]="true" [price]="product?.requestedPrice"></ile-price>
  </div>
  <div class="owner-label">
    Lend from
    <a>{{ product?.owner.firstName + " " + product?.owner.lastName }}</a>
  </div>

  <div class="product-view__desc">
    <!--  TODO: Add router link to the user profile-->
    <p class="product-description text-ellipsis">
      {{ product?.description || "The owner didn't add any description" }}
    </p>
  </div>
</div>
