<div class="product-view">
  <ile-images-slider
    [images]="product?.pictureLinks"
    [imageHeight]="300"
    [imageWidth]="'75rem'"
  ></ile-images-slider>
  <div class="product-view__data">
    <div style="display: flex; align-items: center;">
      <span class="product-name">{{ product?.name }}</span>
      <span class="product-rating" *ngIf="product?.rating">{{
        product?.rating | number: "1.0-2"
      }}</span>
    </div>
    <span class="product-price">${{ product?.requestedPrice }}</span>
  </div>
</div>
