.all-leasings {
  margin: 0 2rem;
  width: calc(100% - 6rem);
  display: flex;
  justify-content: center;
  overflow: auto;

  table {
    width: inherit;
  }

  .mat-header-cell,
  .mat-cell {
    color: var(--dark-text-color) !important;
  }
}

.mat-column-Status {
  max-width: 15rem !important;
}
