<!-- <div class="all-leasings">
  <ile-data-table [titles]="titles" [data]="leasings"></ile-data-table>
</div> -->
<div class="all-leasings admin-tab">
  <table mat-table [dataSource]="leasings">
    <ng-container
      *ngFor="let title of titles; let i = index"
      matColumnDef="{{ title }}"
      [sticky]="i == 0"
    >
      <th mat-header-cell *matHeaderCellDef class="ellipsis">{{ title }}</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          ellipsis:
            !isDate(element[i]) && !isStatus(title) && element[i].length > 16,
          'ellipsis-small': !(
            !isDate(element[i]) &&
            !isStatus(title) &&
            element[i].length > 16
          )
        }"
      >
        <span
          matTooltip="{{
            !isDate(element[i]) && !isStatus(title) && element[i].length > 16
              ? element[i]
              : undefined
          }}"
          [matTooltipPosition]="'below'"
          >{{
            !isDate(element[i])
              ? !isStatus(title)
                ? element[i]
                : ""
              : (element[i] | date: "dd / MM / yyyy")
          }}</span
        >
        <ile-order-status
          [status]="element[i]"
          *ngIf="isStatus(titles[i])"
        ></ile-order-status>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="titles"></tr>
    <tr mat-row *matRowDef="let row; columns: titles"></tr>
  </table>
</div>
