<div class="address-dialog">
  <span class="header" mat-dialog-title>Changing your Address</span>
  <div mat-dialog-content>
    <form [formGroup]="addressFormGroup" class="address-form">
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input
          matInput
          required
          formControlName="country"
          [matAutocomplete]="countryAuto"
        />
        <mat-autocomplete #countryAuto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredCountryOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="
            addressFormGroup.get('country').hasError('valueNotFromList') &&
            !addressFormGroup.get('country').hasError('required')
          "
        >
          You must choose country from the list
        </mat-error>
        <mat-error *ngIf="addressFormGroup.get('country').hasError('required')">
          Country is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>City</mat-label>
        <input
          matInput
          required
          formControlName="city"
          [matAutocomplete]="cityAuto"
        />
        <mat-autocomplete #cityAuto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredCityOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="
            addressFormGroup.get('city').hasError('valueNotFromList') &&
            !addressFormGroup.get('city').hasError('required') &&
            !addressFormGroup.get('country').invalid
          "
        >
          You must choose city from the list
        </mat-error>
        <mat-error
          *ngIf="
            addressFormGroup.get('city').hasError('required') &&
            !addressFormGroup.get('country').invalid
          "
        >
          City is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="addressFormGroup.get('country').invalid">
          Choose country first
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Street</mat-label>
        <input
          required
          matInput
          formControlName="street"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="addressFormGroup.get('street').hasError('required')">
          Street is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Zipcode</mat-label>
        <input
          required
          matInput
          type="number"
          formControlName="zipCode"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="addressFormGroup.get('zipCode').hasError('required')">
          Zipcode is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <span *ngIf="data.errorMessage" class="error-message">{{
      data.errorMessage
    }}</span>
  </div>
  <div mat-dialog-actions>
    <button
      mat-stroked-button
      color="primary"
      (click)="changeUserEvent.emit(addressFormGroup.value)"
      [disabled]="addressFormGroup.invalid"
    >
      Change my address
    </button>
    <button mat-stroked-button color="warn" mat-dialog-close>Never mind</button>
  </div>
</div>
