<div class="leasings-table">
  <table class="table">
    <tr class="table__header">
      <th>Ordered from</th>
      <th>Product name</th>
      <th>Order ID</th>
      <th>Date</th>
      <th>Cost</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let lease of leasings">
      <td class="leasing-lessor">
        <ile-user-name-circle [user]="lease.lessor"></ile-user-name-circle>
        {{ lease.lessor.firstName }}
      </td>
      <td>{{ lease.product.name }}</td>
      <td>{{ lease.id }}</td>
      <td>{{ lease.startDate | date: "dd / MM / yyyy" }}</td>
      <td>${{ lease.product.requestedPrice }}</td>
      <td><ile-order-status [status]="lease.status"></ile-order-status></td>
    </tr>
  </table>
</div>
