<div class="password-dialog">
  <span class="header" mat-dialog-title>Changing your Password</span>
  <div mat-dialog-content>
    <form [formGroup]="passwordFormGroup" class="password-form">
      <mat-form-field>
        <mat-label>Current Password</mat-label>
        <input required matInput formControlName="currentPassword" [errorStateMatcher]="matcher"
               type="password">
        <mat-error
          *ngIf="passwordFormGroup.get('currentPassword').hasError('mismatchPasswords') && !passwordFormGroup.get('currentPassword').hasError('required')">
          Wrong current password
        </mat-error>
        <mat-error *ngIf="passwordFormGroup.get('currentPassword').hasError('required')">
          Confirm password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input required matInput formControlName="newPassword" [errorStateMatcher]="matcher"
               type="password">
        <mat-error
          *ngIf="passwordFormGroup.get('newPassword').hasError('minlength') && !passwordFormGroup.get('newPassword').hasError('required')">
          Please enter a password with more then 6 letters
        </mat-error>
        <mat-error *ngIf="passwordFormGroup.get('newPassword').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm New Password</mat-label>
        <input required matInput formControlName="confirmNewPassword" [errorStateMatcher]="matcher"
               type="password">
        <mat-error
          *ngIf="passwordFormGroup.get('confirmNewPassword').hasError('mismatchPasswords') && !passwordFormGroup.get('confirmNewPassword').hasError('required')">
          The passwords isn't identical
        </mat-error>
        <mat-error *ngIf="passwordFormGroup.get('confirmNewPassword').hasError('required')">
          Confirm password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <span *ngIf="data.errorMessage" class="error-message">{{ data.errorMessage }}</span>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button color="primary" (click)="changeUserEvent.emit(passwordFormGroup.get('newPassword').value)"
            [disabled]="passwordFormGroup.invalid">Change my password</button>
    <button mat-stroked-button color="warn" mat-dialog-close>Never mind</button>
  </div>
</div>
